*{
    margin:0;
    padding:0;
}

/* navbar */
#nav{
    position: sticky;
    top:0;
    z-index: 1001;
}

.navbar{
    background-color: rgb(255, 101, 139);
}

.navbar-brand span{
    font-weight: bolder;
    color: #fff;
}

.navbar-nav li{
    padding:0 10px;
}

.navbar-nav li a{
    color:#fff !important;
    font-weight:500;
    text-transform: uppercase;
}

/* banner */
#banner{
    position:relative;
    background-color: rgb(255, 101, 139);
    color:#fff;
    padding-top: 7%;
}

#banner .btn{
    margin-top: 3%;
    color: rgb(255, 101, 139);
}

.title{
    font-weight: bolder;
    margin-top:80px;
}

.ban-img{
    position:relative;
    z-index:1000;
}

.wave{
    position:absolute;
    bottom:-18%;
    left:0;
}

/* Features */
#features{
    padding: 80px 0;
}

.features{
    padding: 20px;
}

.features img{
    width: 80px;
    height:80px;
    margin-top: 10px;
}

.features h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

#pricing{
    padding:80px 0;
    background:#f8f9fa; 
}

#pricing h4{
    margin-top:15%;
}

#pricing ul li{
    margin-top: 10px;
    list-style:none;
}

#pricing ul li:hover{
    transition: 0.2s;
    transform: scale(1.02);
    text-shadow: 2px 4px 8px #333;
}

/* contact */

#contact{
    padding: 80px 0;
}

.contact{
    margin-top: 5%;
}

.contact .btn{
    border-radius: 20px;
    background-color: rgb(255, 101, 139);
    color:#fff;
}

/* footer */

#footer{
    padding:5px;
    background-color: rgb(255, 101, 139);
    color:#fff;
}

#footer .uhuk{
    margin-top:1%;
}